/* место для вашего кода */
/* About */
.about {
  padding: 180px 24px 0;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 1.2;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 180px 24px 88px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footer__menu-list-item {
  font-size: 18px;
  line-height: 1.35;
  list-style: none;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
  list-style: none;
}
